.body {
    background-color: #74a0b5;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    transition: color 0.3s;
}

h2:hover {
    color: #ffc107; /* Change color on hover */
}

.category {
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.category:hover {
    transform: scale(1.1); 
}

.food-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s; 
}

.food-item:hover {
    transform: scale(1.1); 
}

.food-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s; 
}

.food-item img:hover {
    transform: scale(1.1); 
}

.food-item p {
    margin: 5px 0;
    transition: color 0.3s; 
}

.food-item p:hover {
    color: #ffc107; 
}
